__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.tmp
*.log

# Virtual env
venv/
.venv/
env/
ENV/

# PyCharm / JetBrains IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/

# Local configs
*.local
*.config.json
